body{
    background-color: bisque;
}

#container{
    text-align: center;
}

h1{
    font-family: Franklin Gothic Medium;
    color : purple;
    font-size: 50px;
}

label{
    font-size: 20px;
    display: inline-block;
    width: 150px;
    text-align: left;
}

input{
    height: 20px;
}

#questions{
    height: 40px;
    width: 90px;
}
